dh_segment/__pycache__/
dh_segment/io/__pycache__/
dh_segment/utils/__pycache__/
pretrained_models/resnet_v1_50.ckpt
dh_segment/inference/__pycache__/
dh_segment/post_processing/__pycache__/
build/
dh_segment.egg-info/
dh_segment/network/__pycache__/
dist/
model/
model.zip
pages.zip
pages/
prediction_input/images/*
prediction_output/*
venv/
trained_model/*